.cardContainer {
    display: flex;
    border: 1px solid black;
    height: 300px;
    width: 250px;
}

.cardHeader {
    flex-direction: row;
    align-content: center;
}

.cardContent {
    align-self: center;
}

.cardFooter {
    align-self: flex-end;
}
